<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sysMenuPremissionMapper">
  <resultMap id="BaseResultMap" type="com.jiajun.pojo.system.SysMenuPremission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="premission_type" jdbcType="SMALLINT" property="premissionType" />
    <result column="premission_code" jdbcType="VARCHAR" property="premissionCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, menu_id, premission_type, premission_code
  </sql>
  
  <select id="selectByMenuId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu_premission
    where menu_id = #{menuId,jdbcType=INTEGER} order by premission_type
  </select>
  
  <select id="getMenuIdByRoleId" resultType="int" parameterType="map">
  	select p.menu_id from sys_role r, sys_role_prem rp, sys_menu_premission p where r.id=rp.role_id and p.id=rp.prem_id and rp.prem_type=1 and p.premission_type=#{type} and  r.id = #{roleId}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu_premission
    where id = #{id,jdbcType=INTEGER}
  </select>

<select id="getPremissionByMenuAndType" parameterType="map" resultType="int">
	select id from sys_menu_premission where menu_id in 
	<foreach collection="ids" item="id" open="(" close=")" separator="," >
		#{id}
	</foreach>
	and premission_type = #{type}
</select>

<delete id="deleteAllByRoleIdAndType" parameterType="map">
	delete from sys_role_prem where  prem_type=1 and menu_type=#{type} and role_id=#{roleId}
</delete>

<!-- 移除角色类型对应的所有菜单权限 -->
<delete id="deleteMenuPremissioByRoleType" parameterType="int">
	DELETE
	FROM
		sys_role_prem
	WHERE
		EXISTS (
			SELECT
				r.id
			FROM
				sys_role r
			WHERE
				role_id = r.id
			AND r.role_type = #{roleType}
		)
</delete>

 <delete id="deleteByMenuId" parameterType="java.lang.Integer">
	 delete from sys_menu_premission
    where menu_id = #{menuId,jdbcType=INTEGER}
 </delete>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_menu_premission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteBYRoleId" parameterType="int">
  	delete from sys_role_prem where role_id=#{roleId}
  </delete>
  
  <insert id="insertRolePremission" parameterType="map">
  	insert into sys_role_prem value
  	<foreach collection="premIds" item="premId" separator=",">
  		(null, #{roleId}, #{premId}, #{type}, 1)
  	</foreach>
  </insert>
  
  <insert id="insert" parameterType="com.jiajun.pojo.system.SysMenuPremission">
    insert into sys_menu_premission (id, menu_id, premission_type, 
      premission_code)
    values (#{id,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER}, #{premissionType,jdbcType=SMALLINT}, 
      #{premissionCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jiajun.pojo.system.SysMenuPremission">
    insert into sys_menu_premission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="premissionType != null">
        premission_type,
      </if>
      <if test="premissionCode != null">
        premission_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="premissionType != null">
        #{premissionType,jdbcType=SMALLINT},
      </if>
      <if test="premissionCode != null">
        #{premissionCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiajun.pojo.system.SysMenuPremission">
    update sys_menu_premission
    <set>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=INTEGER},
      </if>
      <if test="premissionType != null">
        premission_type = #{premissionType,jdbcType=SMALLINT},
      </if>
      <if test="premissionCode != null">
        premission_code = #{premissionCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiajun.pojo.system.SysMenuPremission">
    update sys_menu_premission
    set menu_id = #{menuId,jdbcType=INTEGER},
      premission_type = #{premissionType,jdbcType=SMALLINT},
      premission_code = #{premissionCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>