<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysUserMapper">
  <resultMap id="BaseResultMap" type="com.jiajun.pojo.system.SysUserEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="last_ip" jdbcType="VARCHAR" property="lastIp" />
    <result column="skin" jdbcType="VARCHAR" property="skin" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="user_type" jdbcType="SMALLINT" property="userType"/>
    <result column="useable" jdbcType="SMALLINT" property="useable"/>
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  
  <!-- 用户和角色是一对一关系 -->
  <resultMap id="hasRoleResultMap" type="com.jiajun.pojo.system.SysUserEntity" extends="BaseResultMap">
  	<association property="role"  javaType="com.jiajun.pojo.system.SysRoleEntity" column="role_id" select="SysRoleMapper.selectByPrimaryKey"/>
  </resultMap>
  
   <resultMap type="com.jiajun.pojo.system.SysUserEntity" id="hasPhotoResultMap" extends="BaseResultMap">
	<association property="userPhoto" javaType="com.jiajun.pojo.system.SysUserPhotoEntity" column="id" select="SysUserPhotoEntityMapper.selectByUserId"/>   
   </resultMap>
   
  <sql id="Base_Column_List">
    id, username, password, name, login_time, last_ip, skin, sort, role_id, phone, email, user_type,useable,
    status, remark, gmt_create, gmt_modified
  </sql>
  
   <sql id="condiction">
   	<where>
  	 	<!-- 排除掉系统管理员 -->
  		id != 1
		<if test="keyword != null and keyword != ''">
			and 
		    (
		    	t1.username like concat('%', #{keyword}, '%')
				or t1.name like concat('%', #{keyword}, '%')
				or t1.phone like concat(#{keyword}, '%')
				or t1.email like concat(#{keyword}, '%')
			)
		</if>
		<if test="beginTime != null and beginTime != ''">
			and t1.login_time &gt;= str_to_date(#{beginTime}, '%Y-%m-%d')
		</if>
		<if test="endTime != null and endTime != ''">
			and t1.login_time &lt;=  str_to_date(#{endTime}, '%Y-%m-%d')
		</if>
		<if test="roleId != null and roleId != ''">
			and role_id = #{roleId}
		</if>
		 and user_type = #{userType}
  	</where>
 </sql>
    <select id="selectByNameAndPwd" resultMap="hasPhotoResultMap" parameterType="params">
    select 
    <include refid="Base_Column_List" />
  	  from sys_user
  	  where username = #{username,jdbcType=VARCHAR} and password = #{password, jdbcType=VARCHAR}
  	</select>
 
   <select id="getCount" parameterType="params" resultType="Integer">
  	select 
  		count(*) 
  		from sys_user t1
	<include refid="condiction"/>
  </select>
  
  <select id="getList" parameterType="params" resultMap="hasRoleResultMap">
  	select 
  		<include refid="Base_Column_List"/>
  		from sys_user t1
  	<include refid="condiction"/>
  		limit #{begin}, #{rows}
   </select>
   
   <select id="selectPermissionListById" parameterType="int" resultType="string">
	  	(
		SELECT
			mp.premission_code
		FROM
			sys_user u,
			sys_role_prem rp,
			sys_menu_premission mp
		WHERE
			u.role_id = rp.role_id
		AND rp.prem_id = mp.id
		AND u.id = #{userId}
	)
	UNION ALL
		(
			SELECT
				o.privileges_code
			FROM
				sys_user u,
				sys_role_prem rp,
				sys_opeartion o
			WHERE
				u.role_id = rp.role_id
			AND rp.prem_id = o.id
			AND u.id = #{userId}
		)
  </select>
   
   <select id="getAdminPermissionList" resultType="string">
	  SELECT
			mp.premission_code
		FROM
			sys_menu_premission mp
		UNION ALL
			SELECT
				p.privileges_code
			FROM
				sys_opeartion p 	
   </select>
   
   <select id="selectNumByEmail" resultType="int" parameterType="string">
  	select count(*) from sys_user where email = #{email, jdbcType=VARCHAR}
  </select>
  
  <select id="selectCountBySort" resultType="int" parameterType="int">
  	select count(*) from sys_user where sort = #{sort,jdbcType=INTEGER}
  </select>
  
 
  <select id="selectCountByUsername" parameterType="String" resultType="int">
 	 select count(*) from sys_user where username = #{username, jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="selectByUsername" parameterType="string" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where username = #{username,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jiajun.pojo.system.SysUserEntity">
    insert into sys_user (id, username, password, 
      name, login_time, last_ip, 
      skin, sort, role_id, 
      phone, email, status,user_type, useable,
      remark, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP}, #{lastIp,jdbcType=VARCHAR}, 
      #{skin,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{userType, jdbcType=SMALLINT},#{useable, jdbcType=SMALLINT},
      #{remark,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jiajun.pojo.system.SysUserEntity">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="lastIp != null">
        last_ip,
      </if>
      <if test="skin != null">
        skin,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="userType != null">
      	user_type,
      </if>
	  <if test="useable != null">
	  	useable,
	  </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastIp != null">
        #{lastIp,jdbcType=VARCHAR},
      </if>
      <if test="skin != null">
        #{skin,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="userType != null">
      	#{userType, jdbcType=SMALLINT},
      </if>
      <if test="useable != null">
      	#{useable,jdbcType=SMALLINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiajun.pojo.system.SysUserEntity">
    update sys_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastIp != null">
        last_ip = #{lastIp,jdbcType=VARCHAR},
      </if>
      <if test="skin != null">
        skin = #{skin,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="userType != null">
      	user_type = #{userType, jdbcType=SMALLINT},
      </if>
      <if test="useable != null">
      	useable = #{useable},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiajun.pojo.system.SysUserEntity">
    update sys_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      last_ip = #{lastIp,jdbcType=VARCHAR},
      skin = #{skin,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=SMALLINT},
      useable  = #{useable, jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      remark = #{remark,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>