<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- web.xml中shiro的filter对应的bean -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<!-- 未认证走的loginUrl, 下次使用shiro时候,改成 /login自动校验的 -->
		<property name="loginUrl" value="/toLogin" />
		<!-- 通过unauthorizedUrl指定没有权限操作时跳转页面-->
		<property name="unauthorizedUrl" value="/refuse" />
		<!-- 自定义过滤器 -->
	<!-- <property name="filters">
			<map>
				自定义权限拦截器, 使用 myPerms["user:add"]实现admin用户的直接放行, ajax请求返回json.注:自定义filter和并不能对注解生效, 注解是使用反射找到注解
				<entry key="myPerms">
					<bean class="com.jiajun.shiro.filter.MyPermissionsAuthorizationFilter"/>
				</entry>
			</map>
		</property> -->
		<!-- 过虑器链-->
		<property name="filterChainDefinitions">
			<value>
				<!-- 对静态资源设置匿名访问 -->
				/static/** = anon
				/css/** = anon
				/js/** = anon
				/login = anon
				<!-- 验证码 -->
				/checkCode/** = anon
				<!-- 注册需要接口 -->
				/user/hasUsername = anon
				/user/hasEmail = anon
				/user/onlineUser = anon
				/user/regist = anon
				<!--shiro拦截到请求,通过session管理清除掉session-->
				/logout = logout
				<!-- rememberMe -->
				/** = authc 
			</value>
		</property>
	</bean>
	
	<!-- 相当于调用SecurityUtils.setSecurityManager(securityManager) -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="customRealm" />
		<property name="cacheManager" ref="shiroEhcacheManager"/>
		<property name="sessionManager" ref="sessionManager" />
	</bean>

	<!-- realm -->
	<bean id="customRealm" class="com.jiajun.shiro.realm.CustomRealm">
		<!-- 将凭证匹配器设置到realm中，realm按照凭证匹配器的要求进行散列 -->
		<property name="credentialsMatcher" ref="credentialsMatcher"/>
		<!-- 使用缓存 -->
	    <property name="cachingEnabled" value="true"/> 
	    <!-- 启用授权缓存 -->
	    <property name="authorizationCachingEnabled" value="true"/>  
	    <!-- 授权缓存名称, 默认是Principal, 推荐存储用户名(String), 后面好处多, redis缓存key再下一次登陆还是可用的 -->
	    <property name="authorizationCacheName" value="authorizationCache"/>
	</bean>

	<!-- 凭证匹配器 -->
	<bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
		<property name="hashAlgorithmName" value="md5" />
		<property name="hashIterations" value="${hashIterations}" />
	</bean>

	<!-- 用户授权信息Cache, 采用EhCache，本地缓存最长时间应比redis短 -->
    <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
    	<property name="cacheManagerConfigFile" value="classpath:ehcache/ehcache.xml"/>
    </bean>
    
	<!-- 会话管理器，web容器的session废弃 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
    	<!-- 避免subject不存在时候会自动在url上加上sessionId如果禁用了cookike,设置为true -->
 	    <property name="sessionIdUrlRewritingEnabled" value="false" />
        <!-- session的失效时长，单位毫秒 -->
        <property name="globalSessionTimeout" value="1800000"/>
        <!-- 是否在会话过期后会调用SessionDAO的delete方法删除会话(此时可以删除redis中的缓存) 默认true,-->
        <property name="deleteInvalidSessions" value="true"/>
        <!-- 是否开启会话验证器任务 默认true -->
        <property name="sessionValidationSchedulerEnabled" value="false"/>
         <property name="sessionFactory" ref="sessionFactory"/>
        <property name="SessionDAO" ref="ShiroCacheSessionDAO"/>
        <property name="sessionIdCookie" ref="shiroCookie"/>	
    </bean>

	<!-- 自定义工厂, 返回shiroSessionDAO -->
	<bean id="sessionFactory" class="com.jiajun.shiro.session.ShiroSessionFactory"/>
	
	<bean id="ShiroCacheSessionDAO" class="com.jiajun.shiro.session.ShiroCacheSessionDAO">
		<property name="prefix" value="shiro_session_key:"/>
		<!-- 比本地ehcache时间长 -->
		<property name="timeOutSeconds" value="1800"/>
	</bean>
	
	<!-- 默认JSESSIONID，同tomcat/jetty在cookie中缓存标识相同，修改用于防止访问404页面时，容器生成的标识把shiro的覆盖掉 --> 
	<bean id="shiroCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
	    <property name="name" value="SHIROSESSIONID"/>
	</bean>
	
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 --> 
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

</beans>